#container {width: 699px;
			text-align: justify;
			background-color: #fff;
			margin: auto;}
body {background-color: #cccccc;
		font-family: Verdana;
		font-size: 11px;}
p:first-letter {color:blue;
			font-weight: bold;
			font-size: 38px;
			font-family: Times New Roman;}
#content {width:689px; height:100%; float:left; background-color:#FFF; padding-left: 10px;}
#header {height:50px; background-color:#b0b0b0; padding-left:40px; padding-top:0.7px;}
#nav{width:740px; margin:0; padding:0;
	-ms-box-sizing:border-box;}
ul {margin:0;
	padding:0;
	position:relative;
	left:0;
	right:0;
	width:730px;
	list-style: none;
	text-transform:uppercase;}
li {display:inline; float:left;}
a  {padding:0 10.7px 0 10px;
	line-height:25px;
	text-decoration:none;
	color: #fff;
	float: left;
	display: block;
	background-image:url(images/nb.gif);
	background-repeat: repeat-x;}
a:hover {color: #333;}
a:visited {color: #333;}